out/
RTE/
tmp/
*.yml
*.cprj

dependencies/alif_ml-embedded-evaluation-kit/automation
dependencies/alif_ml-embedded-evaluation-kit/model_conditioning_examples
dependencies/alif_ml-embedded-evaluation-kit/scripts
dependencies/alif_ml-embedded-evaluation-kit/tests
dependencies/alif_ml-embedded-evaluation-kit/dependencies/Arm-2D/*
dependencies/alif_ml-embedded-evaluation-kit/dependencies/cmsis/CMSIS/CoreValidation
dependencies/alif_ml-embedded-evaluation-kit/dependencies/cmsis-dsp/Examples
dependencies/alif_ml-embedded-evaluation-kit/dependencies/cmsis-dsp/Testing

dependencies/alif_ml-embedded-evaluation-kit/dependencies/cmsis
dependencies/alif_ml-embedded-evaluation-kit/dependencies/cmsis-dsp
dependencies/alif_ml-embedded-evaluation-kit/dependencies/cmsis-nn
dependencies/alif_ml-embedded-evaluation-kit/dependencies/cmsis-ensemble
dependencies/alif_ml-embedded-evaluation-kit/dependencies/core-platform/applications
dependencies/alif_ml-embedded-evaluation-kit/dependencies/lvgl

!dependencies/alif_ml-embedded-evaluation-kit/dependencies/Arm-2D/Helper
